<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.strive.springcloud.alibaba.dao.AccountDao">

    <resultMap id="BaseResultMap" type="com.strive.springcloud.alibaba.domain.Account">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="user_id" property="userId" jdbcType="BIGINT"/>
        <id column="total" property="total" jdbcType="DECIMAL"/>
        <id column="used" property="used" jdbcType="DECIMAL"/>
        <id column="residue" property="residue" jdbcType="DECIMAL"/>
    </resultMap>

    <update id="decrease">
        update t_account
            set  residue = residue - #{money},used = used + #{money}
        where
            user_id = #{userId}
    </update>
</mapper>